 <!-- head part end -->

  <section class="banner">
    <div class="container">
      <div class="row my-5">
        <div class="col-md-5 m-auto banner-content" data-aos="flip-left" data-aos-duration="3000">
          <h1><span>Government Bids & RFP</span>s delivered straight toyour inbox</h1>
          <ul>
            <li><span></span></li>
            <li><p>Whether you’re a small business or larger sales team, never miss an upcoming opportunity with the most comprehensive bid & RFP platform in its class.</p></li>
          </ul>
          <a href="{% url 'user_login:signup'%}" class="btn button-banner">sign up for 14 days trial</a>
        </div>
      </div>
    </div>
  </section>
  <!-- banner part end -->

