
  <!-- counter part -->

  <section>
    <div class="container">
      <div class="row pre-counter">
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="3000">
          <h1><span> Find Bid</span> collects government bids and RFPs for all <br>industries from federal, state, local, and educational <br> organizations nationwide and delivers them straight <br> to your email inbox.</h1>
        </div>
      </div>
      <div class="row counter">
        <div class="col-md-4 counter-left" data-aos="fade-up" data-aos-duration="3000">
          <h1><span>Find Bid</span> gives you <br> the best coverage <br> with the best price.</h1>
        </div>
        <div class="col-md-8" data-aos="fade-up" data-aos-duration="3000">
          <div class="row">
            <div class="col-md-3 counter-right">
              <h1>100k</h1>
              <p>Open Government Bids</p>
            </div>
            <div class="col-md-3 counter-right">
              <h1>105k</h1>
              <p>State & Local Agencies</p>
            </div>
            <div class="col-md-3 counter-right">
              <h1>1.5k</h1>
              <p>Federal Agencies</p>
            </div>
            <div class="col-md-3 counter-right">
              <h1>20k</h1>
              <p>Schools</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- counter part -->

  <!-- feature part -->

  <section>
    <div class="container">
      <div class="row bg-white features">
        <div class="col-md-6">
         <div class="feature-content" data-aos="fade-down" data-aos-duration="3000">
          <h6>features</h6>
          <h3>nation wide coverage</h3>
          <ul>
            <li><span></span></li>
            <li><p>BidSearch includes both open and closed government bids and RFPs from more than 100,000 federal, state, local, and education organizations nationwide, including some Canadian provinces.</p></li>
          </ul>
         </div>
        </div>
        <div class="col-md-6">
          <div class="feature-image" data-aos="fade-up" data-aos-duration="3000">
            <img src="images/feature.jpg" class="img-fluid" alt="features">
          </div>
        </div>
      </div>
      <div class="row bg-white features">
        <div class="col-md-6">
          <div class="feature-image" data-aos="fade-down" data-aos-duration="3000">
            <img src="images/feature-two.jpg" class="img-fluid" alt="features">
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-content" data-aos="fade-up" data-aos-duration="3000">
            <h6>features</h6>
            <h3>powerful & easy-to-use</h3>
            <ul>
              <li><span></span></li>
              <li><p>Some bid sites only let you choose to be notified by category. However, categories can be way too noisy. With our powerful search, you can use keywords to better target the government bids you want to be alerted about.</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- feature part end -->
