
  <!-- pricing part start -->
  <section>
    <div class="container pricing">
        <div class="row">
          <div class="col-md-5 pricing-head m-auto" data-aos="flip-left" data-aos-duration="3000">
          <h1 id="p-1">Pricing & Plans</h1>
          <ul>
            <li><span></span></li>
            <li>
              <h6>All plans include a 14-day free trial.</h6>
              <p>At the end of the trial, your credit card will be charged monthly. There are no commitments and no contracts. You can cancel any time from your account settings.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="3000">
          <div class="price">
            <div class="price-content">
              <h1><sup>$</sup>19 <span>/month</span></h1>
              <p>basic</p>
            </div>
            <div class="viewer">
              <ul>
                <li><p>number of viewers</p></li>
                <li><span>1</span></li>
              </ul>
            </div>
            <div class="support">
              <ul>
                <li><p>chat and support</p></li>
                <li><i class="fas fa-check"></i></li>
              </ul>
            </div>
            <div class="notification">
              <ul>
                <li><p>daily notification of new bids</p></li>
                <li><i class="fas fa-times"></i></li>
              </ul>
            </div>
            <div class="bid-number">
              <ul>
                <li><p>number of saved bid searches</p></li>
                <li><i class="fas fa-times"></i></li>
              </ul>
            </div>
            <div class="consultation">
              <ul>
                <li><p>onboarding consultation</p></li>
                <li><i class="fas fa-times"></i></li>
              </ul>
            </div>
            <a href="{% url 'user_login:signup'%}" class="btn plan-button">select plan</a>
          </div>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="3000">
          <div class="price">
            <div class="price-content">
              <h1><sup>$</sup>19 <span>/month</span></h1>
              <p>basic</p>
            </div>
            <div class="viewer">
              <ul>
                <li><p>number of viewers</p></li>
                <li><span>1</span></li>
              </ul>
            </div>
            <div class="support">
              <ul>
                <li><p>chat and support</p></li>
                <li><i class="fas fa-check"></i></li>
              </ul>
            </div>
            <div class="notification">
              <ul>
                <li><p>daily notification of new bids</p></li>
                <li><i class="fas fa-check"></i></i></li>
              </ul>
            </div>
            <div class="bid-number">
              <ul>
                <li><p>number of saved bid searches</p></li>
                <li><i>3</i></li>
              </ul>
            </div>
            <div class="consultation">
              <ul>
                <li><p>onboarding consultation</p></li>
                <li><i class="fas fa-times"></i></li>
              </ul>
            </div>
            <a href="{% url 'user_login:signup'%}" class="btn plan-button">select plan</a>
          </div>
        </div>
        <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="3000">
          <div class="price">
            <div class="price-content">
              <h1><sup>$</sup>19 <span>/month</span></h1>
              <p>basic</p>
            </div>
            <div class="viewer">
              <ul>
                <li><p>number of viewers</p></li>
                <li><span>10</span></li>
              </ul>
            </div>
            <div class="support">
              <ul>
                <li><p>chat and support</p></li>
                <li><i class="fas fa-check"></i></li>
              </ul>
            </div>
            <div class="notification">
              <ul>
                <li><p>daily notification of new bids</p></li>
                <li><i class="fas fa-check"></i></li>
              </ul>
            </div>
            <div class="bid-number">
              <ul>
                <li><p>number of saved bid searches</p></li>
                <li><i>ultd</i></li>
              </ul>
            </div>
            <div class="consultation">
              <ul>
                <li><p>onboarding consultation</p></li>
                <li><i class="fas fa-check"></i></li>
              </ul>
            </div>
            <a href="{% url 'user_login:signup'%}" class="btn plan-button">select plan</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- pricing part end -->
